<section>
	<h1>Atualizar Vendas</h1>
	 <p>Opa! Que bom que você conseguiu mais uma venda!<br>
	 	Para informar sua nova venda, é só digitar quantas vendas você tem, e clicar no botão abaixo.</p>
	<%= render 'form' %>
</section>
