<section id="home">

	<article id="ranking">
		<h2>Veja quem está liderando:</h2>
		<% @users.order(:sales).each do |user| %>
			<article class="vendedor">
				<div class="vendas">

					<% if user.sales == nil %>
						<span>0</span>
					<% else %>
						<span><%= user.sales %></span>
					<% end %>

				</div>
				<%= image_tag user.avatar.url, class: "foto"  %>
				<h3><%= user.name.split.map(&:capitalize).join(' ') %></h3>

			</article>
		<% end %>
	</article>

	<article id="premios">
		<h2>Como funciona:</h2>
		<%= link_to 'Todos os Vendedores', controller: 'users' %>
	</article>

</section>

