
body {
	
}

header{
	@include outer-container;
}
main {
	@include outer-container;

}
section {
	@include span-columns(12);
}

form {
	@include span-columns(4);
	// @include shift(4);
}

.vendedor{
	@include span-columns(7);
	@include omega(n);
	margin-top: 40px;
	.foto{
		float: left;
		margin: 0 10px;
	}
	h3{

	}
}

#home{
	padding-top: 70px;
	#ranking{
		@include span-columns(7);
		

	}
	#premios{
		@include span-columns(5);
		
	}
}


