
body {
	background: #DEDEDE;
	font-family: $base-font-family;
}

header{
	@include outer-container;
}
main {
	@include outer-container;
	border: 1px solid silver;
	margin: 30px auto;
	box-shadow: 0px 0px 5px 5px rgba(200,200,200,0.5);

}
section {
	@include span-columns(12);
	padding: 40px;
	background-color: #f1f1f1;


}

form {
	@include span-columns(4);
	// @include shift(4);
}

footer{
	padding: 60px 0 30px;
	@include span-columns(12);
	text-align:center;
}

.vendedor{
	@include span-columns(6 of 7);
	@include omega(n);
	background-color: white;
	margin-top: 40px;
	padding: 10px;
	// border-radius: 15px;
	.vendas{
		float: left;
		display: block;
		width: 50px;
		height: 50px;
		background: asset_url('trofeu.png') top left;
		position: relative;
		span{
			display: block;
			width: 30px;
			top: 2px;
			left: 11px;
			position: absolute;
			text-align: center;
			color: white;
			font-weight: bold;
			color: #222;
		}
	}
	.foto{
		float: left;
		margin: 0 10px;
		width: 50px;
		border-radius: 50%;
		padding: 5px;
		background: white;
		border: 2px solid #297597;
	}
	h3{
		font-weight: normal;
		padding-top: 12px;
		
	}
}

#home{
	h2{
		color:#555;
	}
	h1{
		margin-bottom: 30px;
	}
	#generalbar{
		@include span-columns(12);
		@include linear-gradient(#fbfbfb, #fff);
		border-radius: 90px;
		margin-bottom: 40px;
		padding: 10px;
		border: 1px solid #D6D6D6;

		.progress-bar-indication{
			@include span-columns(10);
			margin-top: 57px;
		}
		figure{
			@include span-columns(2);	
			padding:0;
			margin: 0;
		}

	}
	#ranking{
		@include span-columns(7);
		

	}
	#premios{
		@include span-columns(5);
		h2{
			margin-bottom: 30px;
		}
		div{
			background-color:#dedede;
			// border-radius: 15px;
			color: #555;
			padding: 15px;
		}
	}
}
.botao{
	margin: 13px 0 15px 0;
	@include transition (all 0.2s ease-in-out);
	display: inline-block;
	background: #CD9E2A;
	border-radius: $base-border-radius; 
	color: #FFF;
	font-size: .8em;  
	font-weight: 800;
	padding: .8em 1em;
	text-transform: uppercase;
	// border: 2px dashed #FD7E93;
	&:hover {
	  background: #ECBA30;
	  color: #fff; 
	}
}



